Post::create([
'title' => 'Third Post',
'category_id' => 3,
'author' => 'Jane Doe',
'slug' => 'third-post',
'excerpt' => 'Lorem ipsum ketiga',
'body' => '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aliquid magni quam consectetur at
    velit. Et, veritatis blanditiis. Esse dolores doloribus et sed debitis nobis natus a sint similique non molestiae
    voluptatibus doloremque autem possimus repellat sunt, impedit ex? </p>
<p>Minus necessitatibus illo mollitia aut harum corporis numquam voluptas saepe in ipsam!Nam omnis rerum laboriosam
    ipsa, beatae commodi incidunt non a, perspiciatis quasi quaerat quisquam veniam? Est ex, iure ratione ipsum totam
    optio reiciendis quia tenetur officiis doloremque facilis dolor officia veritatis, atque fuga, quisquam assumenda
    perspiciatis velit adipisci quibusdam at amet asperiores natus necessitatibus? Facilis pariatur aperiam perspiciatis
    quae! </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero alias natus, aperiam quia, animi nam blanditiis
    beatae nihil magnam explicabo ducimus. Id odio ipsa veritatis alias, eos iure quam incidunt quos dolore repellat!
    Iure eveniet in temporibus deserunt quod, quis nam magni mollitia voluptates cum architecto provident rem,
    reiciendis eligendi dolorem. Aut incidunt at blanditiis corrupti laboriosam? Reprehenderit incidunt iste, odio
    aliquam ullam perferendis. Vero eum non blanditiis dolore eius delectus possimus dolorem! Ut sequi hic ratione
    placeat vel molestias ab minus. Deleniti accusamus delectus pariatur, ad eius excepturi similique velit dolore qui
    facere iusto eum perferendis unde aliquam. Vero?</p>'
])

Category::create([
'name' => 'Personal',
'slug' => 'personal'
])

Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt dolores impedit ipsum minus distinctio
obcaecati. Quisquam nulla labore illo animi molestiae, quos quasi dicta, repellendus voluptate ratione temporibus
incidunt, sequi ipsa? Rem, commodi numquam expedita alias ab animi veniam aliquam maxime deleniti eius ullam dolorum
mollitia excepturi! Ex doloremque, delectus ipsum cumque excepturi repellendus, veritatis soluta illum minus tempore
officia facilis! Doloribus, inventore exercitationem impedit blanditiis rem placeat minus ipsum minima dolorum provident
temporibus, harum quis assumenda voluptatibus quidem quos accusamus asperiores laborum nobis atque et quaerat!
Recusandae labore nemo magni cumque, non omnis ratione soluta aperiam aspernatur quasi!